*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, p {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Cormorant Upright", serif;
  --ff-sec:"Open Sans", sans-serif ;
  --transition: .2s all ease-in-out;
  --c-primary: #ED9902;
  --c-white: #fff;
  --c-dark1: #0C0B08;
  --c-dark2: #2D2B29;
  --c-body: #9B968B;
  --font-h2-reg: 500 20px/45px var(--ff);
}

@media screen {
  :root {
    --font-h2-reg: 500 16px/45px var(--ff);
  }
}
body {
  font-family: var(--ff);
  background: var(--c-dark1);
  color: var(--c-white);
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-white);
}

.container {
  max-width: 1720px;
  padding: 0 20px;
  width: 100%;
  margin-inline: auto;
}

.small-container {
  max-width: 1340px;
  padding: 0 20px;
  width: 100%;
  margin-inline: auto;
}

.pretitle {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.title {
  color: rgb(220, 202, 135);
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.3px;
  text-align: left;
  text-transform: capitalize;
  margin-top: 8px;
  margin-bottom: 64px;
}

.spoon-img {
  display: flex;
  justify-content: center;
}

section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 576px) {
  section {
    padding-bottom: 55px;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 13px 18px;
  transition: var(--transition);
}
.btn:hover {
  filter: brightness(0.8);
}
.btn_primary {
  background: var(--c-primary);
  background-color: #c4b075;
}
.btn_primary:hover {
  background: #d48902;
}

.swiper {
  width: 619px;
  height: 688px;
}

.none {
  display: none;
}

.tab-controls__btn--active {
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.header {
  border-bottom: 1px solid var(--c-border);
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 0.25fr 3fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
}
.header__backdrop {
  display: none;
}
@media (max-width: 992px) {
  .header__backdrop {
    transform: translateX(120%);
    display: block;
    transition: var(--transition);
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}
.header__nav {
  grid-column-start: 3;
}
.header__logo {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
}
.header__logo span {
  color: var(--c-primary);
}
.header__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__ul {
    position: fixed;
    width: 70%;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--c-primary);
    align-items: center;
    justify-content: center;
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-white);
}
.header__a {
  color: rgb(255, 255, 255);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  transition: var(--transition);
}
.header__a.is-active, .header__a:hover {
  color: var(--c-primary);
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 4;
  color: rgb(255, 255, 255);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
}

.vertical-line {
  display: block;
  width: 1px;
  height: 47px;
  background-color: white;
}

.welcome {
  padding-bottom: 147px;
}
.welcome__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 108px;
  padding: 48px 20px 88px;
}
.welcome__big-container {
  position: relative;
  padding-bottom: 32px;
}
.welcome__side-info {
  display: flex;
  gap: 40px;
  position: absolute;
  top: 46%;
  left: 20px;
  rotate: -90deg;
}
.welcome__side-info p {
  color: rgb(255, 255, 255);
  font-family: var(--ff-sec);
  font-size: 18px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
}
.welcome__side-scroll {
  display: grid;
  gap: 24px;
  position: absolute;
  right: 20px;
  bottom: 0;
}
.welcome__side-scroll p {
  color: rgb(220, 202, 135);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: uppercase;
}
.welcome__side-scroll-line {
  justify-self: center;
  background: linear-gradient(rgb(220, 202, 135), rgba(220, 202, 135, 0.24));
  width: 1px;
  height: 61px;
}
.welcome__info {
  justify-self: center;
}
.welcome__info-title {
  max-width: 453px;
  font-size: 90px;
  margin-bottom: 0;
}
.welcome__info-desc {
  max-width: 453px;
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  margin-top: 32px;
}
.welcome__info-btn {
  padding: 8px 32px;
  background-color: #DCCA87;
  color: rgb(12, 11, 8);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  margin-top: 32px;
}
.welcome__swiper {
  position: relative;
}

.swiper-rectagle {
  position: absolute;
}
.swiper-rectagle-top {
  top: -24px;
  right: -24px;
}
.swiper-rectagle-bottom {
  bottom: -24px;
  left: -24px;
}

.about {
  background-image: url(./../../img/BG.png);
}
.about__container {
  display: grid;
  grid-template-columns: 1fr 0.45fr 1fr;
  align-items: center;
  position: relative;
  padding: 120px 20px 136px;
}
.about__knife {
  justify-self: center;
  z-index: 1;
}
.about__word {
  position: absolute;
  top: 26%;
  left: 35%;
  z-index: 0;
}

.about-info {
  z-index: 1;
}
.about-info--right {
  text-align: right;
}
.about-info__title {
  color: rgb(220, 202, 135);
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.about-info__title--right {
  text-align: right;
}
.about-info__text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.about-info__text--right {
  text-align: right;
}
.about-info__link {
  padding: 8px 32px;
  background: rgb(220, 202, 135);
  color: rgb(12, 12, 12);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
}

.history-info {
  z-index: 1;
}

.menu {
  background-image: url(./../img/beer.png);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1920/1084;
}
.menu__container {
  display: flex;
  position: relative;
  transition: background-image 0.1s;
}

.tab-controls {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 64px;
  z-index: 999;
}
.tab-controls__btn {
  background: none;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  text-align: left;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  cursor: pointer;
}

#mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.reservation__container {
  padding: 152px 178px;
}
.reservation__info-dating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 64px;
}
.reservation__info {
  padding: 48px 38px;
  border: 1px solid rgba(220, 202, 135, 0.2);
  background: rgb(12, 12, 12);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.reservation__info-pretitle {
  text-align: center;
}
.reservation__info-title {
  text-align: center;
}
.reservation__info-btn {
  border: none;
  cursor: pointer;
}

.special {
  padding: 152px 0;
}
.special__pretitle {
  text-align: center;
}
.special__spoon {
  display: flex;
  justify-content: center;
}
.special__title {
  text-align: center;
}
.special__content {
  display: grid;
  grid-template-columns: 1fr 1.01fr 1fr;
  align-items: center;
}
.special__content-link {
  justify-self: center;
  padding: 8px 32px;
  background: rgb(220, 202, 135);
  color: rgb(12, 12, 12);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.4px;
  border-radius: 0;
}

.link-contaner {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.content-menu__title {
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 48px;
}
.content-menu__info {
  align-items: center;
  gap: 32px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
  margin-bottom: 8px;
}
.content-menu__info span {
  display: block;
  height: 1px;
  max-width: 119px;
  background: rgb(250, 250, 250);
}
.content-menu__info-name {
  color: rgb(220, 202, 135);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: capitalize;
}
.content-menu__info-price {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
}
.content-menu__info-footer {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
}
.content-menu__info-footer:not(:last-child) {
  margin-bottom: 40px;
}

.testimony__container {
  padding: 152px 20px;
}
.testimony__spoon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.testimony__pretitle {
  text-align: center;
}
.testimony__title {
  text-align: center;
}
.testimony__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
}
.testimony__block {
  display: flex;
  align-items: center;
  gap: 32px;
}
.testimony__block-img {
  position: relative;
}
.testimony__block-img-com {
  position: absolute;
  bottom: -20px;
  right: -16px;
}
.testimony__block-info-text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  max-width: 405px;
  margin-bottom: 16px;
}
.testimony__block-info-name {
  color: rgb(220, 202, 135);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.testimony__block-info-position {
  color: rgb(245, 239, 219);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
}

.video-play {
  position: absolute;
  background: none;
  top: 40%;
  left: 46%;
  cursor: pointer;
  z-index: 9;
}

.video-bg {
  position: relative;
}
.video-bg-img {
  filter: brightness(70%);
}

.video__container {
  display: flex;
  justify-content: center;
}

.awards {
  background-image: url(./../../img/BG.png);
}
.awards__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 128px 20px;
}
.awards__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 64px;
}
.awards__list-block {
  display: flex;
  gap: 32px;
}
.awards__list-block img {
  height: 79px;
  width: 79px;
}
.awards___img {
  position: relative;
}
.awards___img-word {
  left: -72px;
  bottom: 0;
  position: absolute;
}

.block__info-title {
  color: rgb(220, 202, 135);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: capitalize;
}
.block__info-text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  max-width: 190px;
}

.chef {
  background-image: url(./../../img/BG.png);
}
.chef__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 148px 20px;
}
.chef__img {
  position: relative;
}
.chef__img-chef {
  position: relative;
  z-index: 99;
}
.chef__img-cube-top {
  position: absolute;
  top: -20px;
  right: -20px;
}
.chef__img-cube-bottom {
  position: absolute;
  bottom: -15px;
  left: -20px;
}
.chef__info-text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  margin: 64px 0;
  max-width: 570px;
}
.chef__info-name {
  color: rgb(220, 202, 135);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.chef__info-work {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  margin-bottom: 64px;
}

.dating-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 412px;
  padding: 16px;
  border: 1px solid rgb(245, 239, 219);
  position: relative;
}
.dating-item__text {
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
}
.dating-item__arrow {
  cursor: pointer;
}
.dating-item__dropmenu {
  position: absolute;
  padding: 4px 8px;
  bottom: -132px;
  left: 8px;
  background: rgb(24, 23, 22);
  border-radius: 2px;
}

.dropmenu__text {
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.blog {
  padding: 152px 0;
}
.blog__pretitle {
  text-align: center;
}
.blog__title {
  text-align: center;
}
.blog__list {
  display: flex;
  gap: 32px;
}
.block {
  max-width: 412px;
}
.block__date {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 32px;
}
.block__date p {
  color: rgb(250, 250, 250);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
}
.block__type {
  color: rgb(220, 202, 135);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: left;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.block__text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: left;
  margin-bottom: 32px;
}
.block__link {
  color: rgb(220, 202, 135);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.4px;
}

.subscribe {
  padding: 115px 20px;
}
.subscribe__info {
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  background: rgb(12, 12, 12);
  padding: 64px 0;
}
.subscribe__info-pretitle {
  text-align: center;
}
.subscribe__info-title {
  text-align: center;
  margin-bottom: 24px;
}
.subscribe__info-text {
  text-align: center;
  margin-bottom: 64px;
}
.subscribe__info-form {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}
.subscribe__spoon {
  display: flex;
  justify-content: center;
}

.form__email {
  border: 1px solid rgb(245, 239, 219);
  background: none;
  padding: 16px 0 16px 19px;
  width: 100%;
  max-width: 635px;
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.footer {
  background-image: url(./../../img/BG.png);
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: baseline;
  padding: 128px 20px 144px;
}
.footer__main-date {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
}
.footer__main-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
.footer__main-text {
  color: rgb(255, 255, 255);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 16px;
}
.footer__main-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 64px;
}
.footer__title {
  color: rgb(245, 239, 219);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.footer__text {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
}
.footer__text--hours {
  color: rgb(170, 170, 170);
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.4px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */