.footer {
    background-image: url(./../../img/BG.png);
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        position: relative;

        text-align: center;
        align-items: baseline;

        padding: 128px 20px 144px;
    }

    &__contact {
    }

    &__main {
    }

    &__side-scroll {
        display: grid;
		gap: 24px;
		position: absolute;
		right: 20px;
		bottom: 30px;
    }

    &__side-scroll-line {
        justify-self: center;
			background: linear-gradient(rgb(220, 202, 135),rgba(220, 202, 135, 0.24));
			width: 1px;
			height: 61px;
    }

    &__side-scroll-text {
        color: rgb(220, 202, 135);
			font-size: 16px;
			font-weight: 700;
			line-height: 175%;
			letter-spacing: 0.4px;
			text-align: left;
			text-transform: uppercase;

			z-index: 11;
    }

    &__main-date{
        color: rgb(170, 170, 170);
        font-family: var(--ff-sec);
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: center;
    }

    &__main-title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 32px;
    }

    &__main-text {
        color: rgb(255, 255, 255);
        font-family: var(--ff-sec);
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: center;

        margin-bottom: 16px;

        
    }

    &__main-links {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 64px;
    }

    &__main_link:hover{
        .footer__svg{
            transition: 0.3s;
            fill: rgb(220, 202, 135);
        }

    }

    &__hours {
    }
    &__title{
        color: rgb(245, 239, 219);
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.4px;
        text-align: center;
        text-transform: capitalize;

        margin-bottom: 24px;

        
    }
    &__text{
        color: rgb(170, 170, 170);
        font-family: var(--ff-sec);
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: center;

        &--hours{
            color: rgb(170, 170, 170);
            font-family: var(--ff-sec);
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: center;
        }
    }
}

