.header {
	// padding: 37px 0px;
	border-bottom: 1px solid var(--c-border);

	&__container{
		// display: flex;
		display: grid;
		grid-template-columns: 1fr 0.25fr 3fr 1fr;
		align-items: center;
		justify-content: space-between;

		padding: 32px 20px;
	}
	&__backdrop {
		display: none;

		@include tablet {
			transform: translateX(120%);
			display: block;
			transition: var(--transition);
			position: fixed;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .3);
			top: 0;
			left: 0;
		}
	}

	&__nav{
		grid-column-start: 3;
	}

	&__logo {
		// color: var(--c-white);
		// font-size: 28px;
		// font-weight: 700;
		// display: inline-flex;

		color: rgb(255, 255, 255);
		font-family: Cormorant Upright;
		font-size: 44px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 4%;
		text-align: center;
		text-transform: uppercase;

		span {
			color: var(--c-primary);
		}
	}

	&__ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
		z-index: 1;

		@include tablet {
			position: fixed;
			width: 70%;
			height: 100%;
			flex-direction: column;
			left: 0;
			top: 0;
			background: var(--c-primary);
			align-items: center;
			justify-content: center;
			transform: translateX(-120%);
			transition: var(--transition);
		}

		&._active {
			transform: translateX(0);
		}

		&._active~.header__backdrop {
			transform: translateX(0);
		}



		.icon-close {
			position: absolute;
			top: 40px;
			right: 40px;
			color: var(--c-white);
		}
	}

	&__a {
		// color: var(--c-white);
		// font-size: 16px;
		// font-weight: 400;
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 400;
		line-height: 175%;
		letter-spacing: 4%;
		text-align: left;


		transition: var(--transition);

		&.is-active,
		&:hover {
			color: var(--c-primary);
		}
	}
}



.icon-menu,
.icon-close {
	cursor: pointer;
	display: none;

	@include tablet {
		display: inline-block;
	}
}

.header__links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	// gap: 50px;

	grid-column-start: 4;


	color: rgb(255, 255, 255);
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 175%;
	letter-spacing: 5%;
	text-align: left;
}


.vertical-line{
	display: block;
	width: 1px;
	height: 47px;
	background-color: white;
}