.testimony {

    &__container {
        padding: 152px 20px;
    }

    &__spoon{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    &__pretitle {
        text-align: center;
    }

    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 64px;
        grid-column-gap: 32px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 32px;  
    }

    &__block-img {
        position: relative;

        &-com{
            position: absolute;
            bottom: -20px;
            right: -16px;
        }
    }

    &__block-info {
    }

    &__block-info-text {
        color: rgb(170, 170, 170);
        font-family: Open Sans;
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: left;
        max-width: 405px;
        margin-bottom: 16px;
    }

    &__block-info-name {
        color: rgb(220, 202, 135);
        font-family: Cormorant Upright;
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.4px;
        text-align: left;
        text-transform: capitalize;

        margin-bottom: 4px;
    }

    &__block-info-position {
        color: rgb(245, 239, 219);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.4px;
        text-align: left;
    }
}

