.welcome {
	padding-bottom: 147px;
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center; 
		gap: 108px;
		padding: 48px 20px 88px;
	}

	&__big-container{
		position: relative;
		padding-bottom: 32px;
	}

	&__side-info{
		display: flex;
		gap: 40px;
		position: absolute;
		top: 46%;
		left: 20px;
		rotate: -90deg;

		p {
			color: rgb(255, 255, 255);
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 175%;
			letter-spacing: 4%;
		}
	}

	&__side-scroll{
		display: grid;
		gap: 24px;
		position: absolute;
		right: 20px;
		bottom: 0;
		p {
			color: rgb(220, 202, 135);
			font-family: Cormorant Upright;
			font-size: 16px;
			font-weight: 700;
			line-height: 175%;
			letter-spacing: 4%;
			text-align: left;
			text-transform: uppercase;
		}

		&-line{
			justify-self: center;
			background: linear-gradient(rgb(220, 202, 135),rgba(220, 202, 135, 0.24));
			width: 1px;
			height: 61px;
			
		}
		

	}

	&__info {
		justify-self: center;
	}

	&__info-pretitle {
		color: rgb(255, 255, 255);
		font-family: Cormorant Upright;
		font-size: 23px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 4%;
		text-align: left;
		text-transform: capitalize;

		margin-bottom: 8px;
	}

	&__info-title {
		max-width: 453px;
		color: rgb(220, 202, 135);
		font-family: Cormorant Upright;
		font-size: 90px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 4%;
		text-align: left;
		text-transform: capitalize;

		margin-top: 8px;

	}

	&__info-desc {
		max-width: 453px;
		color: rgb(170, 170, 170);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 400;
		line-height: 175%;
		letter-spacing: 4%;
		text-align: left;

		margin-top: 32px;

	}

	&__info-btn {
		padding: 8px 32px;
		background-color: #DCCA87;
		color: rgb(12, 11, 8);
		font-family: Cormorant Upright;
		font-size: 16px;
		font-weight: 700;
		line-height: 175%;
		letter-spacing: 4%;
		text-align: left;

		margin-top: 32px;

	}

	&__swiper {
		position: relative;
	}
}



// img {
// 	border-radius: 50%;
// 	height: 100%;
// 	width: 100%;
// 	object-fit: cover;
// }